@import "mixin";

.ere-property-featured {
	.columns-2 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--spacer-32);
		align-items: stretch;
	}

	.property {
		&-inner {
			align-self: stretch;
			border: 1px solid var(--color-theme-accent);
			@include radius();
			background-color: var(--color-theme-white);
			height: 100%;
			overflow: hidden;

			.ere__loop-property-info-item,
			.ere__loop-property-location {
				@include eret_meta;
			}
		}

		&-title {
			font-size: var(--font-size-32);
		}

		&-image {
			position: relative;
			text-align: center;
			line-height: 0;

			img {
				width: 100%;
				border-radius: 0;
				aspect-ratio: 24/18;
				object-fit: cover;
			}

			.property-view-gallery {
				display: block;
				width: 48px;
				height: 48px;
				position: absolute;
				top: 0;
				right: 0;
				background-color: var(--color-theme-white);
				border-bottom-left-radius: var(--radius-default);

				border: {
					width: 0 0 1px 1px;
					style: solid;
					color: var(--color-theme-accent);
				}

				i {
					display: grid;
					align-items: center;
					justify-content: center;
					height: 100%;
					width: 100%;
				}
			}

			.ere__loop-property-badge {
				&-item {
					&.na-wylacznosc {
						height: 110px;
						left: 0;
						overflow: hidden;
						position: absolute;
						top: 0;
						z-index: 9;
						width: 110px;

						.ere__lpbi-inner {
							background-color: var(--color-theme-accent);
							color: var(--color-theme-white);
							font-size: var(--font-size-12);
							font-weight: bold;
							height: 30px;
							left: 40%;
							line-height: 30px;
							margin-left: -100px;
							margin-top: -15px;
							position: absolute;
							text-align: center;
							text-decoration: none;
							text-transform: uppercase;
							top: 40%;
							transform: rotate(-45deg);
							width: 200px;
						}
					}

					&.ere__featured {
						display: none;
					}
				}

				&.ere__lpb-status {
					line-height: 1;
					background-color: var(--color-theme-01);
					font-size: var(--font-size-12);
					padding: var(--spacer-8);
					text-transform: lowercase;
					text-align: right;
				}
			}
		}

		&-item {
			&-content {
				padding: var(--spacer-16);
			}
		}

		&-price {
			display: block;
			font-size: var(--font-size-20);
			font-weight: bold;
			padding-bottom: var(--spacer-16);
		}
	}
}