@import "mixin";

.tadanero-single-property {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: var(--spacer-48);

	&-content {
		min-width: 0;
	}

	&-sidebar {

		.ere__contact-agent-info,
		.ere__single-agent-contact-form,
		.ere__single-property-info-footer {
			background-color: var(--color-theme-white);
			border: 1px solid var(--color-theme-accent);
			@include radius();
			padding: var(--spacer-24);
			margin-bottom: var(--spacer-24);
		}
	}
}

.ere__single-property {
	&-header {
		&-price-location {
			border-top: 1px solid var(--color-theme-accent);
			border-bottom: 1px solid var(--color-theme-accent);
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "status price" "location location";
			gap: var(--spacer-8);
			align-items: center;
			margin-bottom: var(--spacer-24);

			&-status {
				grid-area: status;
			}

			.property-price {
				grid-area: price;
				font-size: 2em;
				font-weight: var(--font-weight-bold);
				text-align: right;
			}

			&-location {
				grid-area: location;
			}

			>* {
				padding: var(--spacer-8);
			}
		}

		&-meta-actions {}
	}

	&-gallery {
		.property-gallery-item {
			i {
				display: grid;
				align-items: center;
				justify-content: center;
				width: 48px;
				height: 48px;
				position: absolute;
				top: 0;
				right: 0;
				background-color: var(--color-theme-white);
				border-bottom-left-radius: var(--radius-default);

				border: {
					width: 0 0 1px 1px;
					style: solid;
					color: var(--color-theme-accent);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.property-meta-section {
		flex-direction: column;
	}

	.property-gallery-thumbnails {
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	}

	.single-property-title {
		font-size: var(--font-size-36);
	}
}