@import "mixin";

:root {
	--ere-color-accent: var(--color-theme-accent);
}


body #container {
	padding: var(--spacer-48) var(--spacer-24);
	max-width: var(--theme-width-xl);
	margin: 0 auto;
}

textarea {
	text-wrap: wrap !important;
}
